@page
@model Chinook.Web.Pages.CustomerSearchModel
@{
}

<h1>Search for customers</h1>

<div>
    <p>Search for customers by last name.</p>

    <form method="get">
        <input name="search" type="text" maxlength="20">
        <input type="submit">
    </form>
</div>
<tr>
    <td>@Model.Result</td>
</tr>
